<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta http-equiv="imagetoolbar" content="false" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta name="description" content="<%= @item[:description] %>" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= @item[:title] %></title>
  <link rel="alternate" type="application/atom+xml" title="API Changes" href="/changes.atom" />
  <link href='//fonts.googleapis.com/css?family=Nunito:400,700,300|Varela+Round' rel='stylesheet' type='text/css'>
  <link href="/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="/css/960.css" rel="stylesheet" type="text/css" />
  <link href="/css/uv_active4d.css" rel="stylesheet" type="text/css" />
  <link href="/shared/css/documentation.css" media="screen" rel="stylesheet" type="text/css" />
    <%=
       if (@item.identifier == '/') or (@item.identifier == '/success-story/') or (@item.identifier == '/thank-you/') then
           '<link href="/shared/css/adaptive.css" media="screen" rel="stylesheet" type="text/css" />'
       else
       end
   %>
  <link href="/shared/css/pygments.css" media="screen" rel="stylesheet" type="text/css" />
  <%=
     if @item[:popup] then
       '<link href="/shared/css/success-popup.css" media="screen" rel="stylesheet" type="text/css" />'
     else
     end
  %>
  <script src="/shared/js/jquery.js" type="text/javascript"></script>
  <script src="/shared/js/documentation.js" type="text/javascript"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/shared/img/favicon-6.ico"/>
</head>
